.background-img {
  background-image: url("./assets/clear.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.4 ease-out;
}

.background-img.background-img-clouds {
  background-image: url("./assets/clouds.jpg");
}

.background-img.background-img-mist {
  background-image: url("./assets/mist.jpg");
}

.background-img.background-img-snow {
  background-image: url("./assets/snow.jpg");
}

.background-img.background-img-rain {
  background-image: url("./assets/rain.jpg");
}

.background-img.background-img-thunderstorm {
  background-image: url("./assets/thunderstorm.jpg");
}

.background-img.background-img-drizzle {
  background-image: url("./assets/drizzle.jpg");
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
}
